.frame {
    display: flex;
    .header {
        width: 40%;
        img {
            width: 100%;
            margin: auto;
        }
    }
    .body {
        table{
            tr {
                .text {
                    width: 360px;
                    textarea {
                        resize: vertical;
                    }
                }
            }
        }
    }
}