.row {
    .image {
        img {
            width: 100%;
        }
        // .small {
        //     margin: 20px 0;
        //     .owl-stage-outer {
        //         width: 88%;
        //         margin: auto;
        //     }
        //     .owl-nav {
        //         font-size: 50px;
        //         z-index: 1;
        //         position: relative;
        //         bottom: 85px;
        //         .owl-prev {
        //             float: left;
        //             outline: none;
        //         }
        //         .owl-next {
        //             float: right;
        //             outline: none;
        //         }
        //     }
        // }
        .small {
            margin: 20px 0;
            width: 100%;
            overflow: auto;
            white-space: nowrap;
            .item {
                display: inline-block;
                width: 80px;
                margin: 0 10px;
                img {
                    width: 100%;
                }
            }
        }
    }
    .info {
        table {
            margin-bottom: 0;
            margin-left: 30px;
            tr {
                .fixed {
                    width: 200px;
                }
                th {
                    input {
                        width: 60px;
                        padding: 6px;
                    }
                    button {
                        margin: 20px 0;
                    }
                }
            }
        }
        .recommended {
            margin: 50px 0;
            h3 {
                margin-left: 30px;
                text-align: left;
            }
            .item {
                border: 1px solid lightgrey;
                cursor: pointer;
                img {
                    height: 120px;
                }
            }
        }
    }
}