.checkout{
    .form-group{
        display: flex;
        text-align: left;
        label {
            width: 45%;
        }
        span{
            font-size: 20px;
            margin-left: 40px;
        }
    }
    .card {
        border: 0.5px solid lightgrey;
        margin: 20px 0;
        padding: 10px;
    }
}