.container{
    .list{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        .item:hover img{
            padding-top: 0;
            padding-bottom: 10px;
            transition: 0.3s;
        }
        .item{
            border: 1px solid lightgray;
            padding: 10px;
            width: 23%;
            height: 350px;
            margin: 1%;
            cursor: pointer;
            img{
                padding-top: 8px;
                width: 100%;
                height: 60%;
            }
            .product-name {
                height: 45px;
            }
            h4 {
                text-decoration: none;
                color: darkslategray;
            }
            .add-to-cart {
                .add-to-cart-button {
                    outline: none;
                }
            }
        }
    }
    .pagination {
        margin: auto;
        margin-bottom: 20px;
    }

    .not-found {
        text-align: center;
        img {
            width: 35%;
            margin: auto;
        }
    }
}