.navbar{
    display: flex;
    flex-wrap: wrap;
    .collapse{
        width: 89%;
        display: flex;
        flex-wrap: wrap;
        .left{
            width: 52%;
            li {
                width: 25%;
                border: 0.5px solid lightgrey;
                height: 60px;
                border-top: 0;
            }
            .more {
                display: none;
            }
        }
        .navbar-right {
            width: 48%;
            .see-more {
                float: left;
                text-align: left;
                a {
                    padding-left: 0;
                    label {
                        width: 68px;
                        cursor: pointer;
                        font-weight: normal;
                        color: mediumblue;
                    }
                }
            }
            .float-right {
                float: right;
            }
            .cart-icon:hover ~ .mini-cart {
                display: block;
            }
            .mini-cart {
                position: absolute;
                right: 20px;
                top: 32px;
                z-index: 1;
                width: 450px;
                background-color: white;
                display: none;
                border: 2px solid bisque;
                padding: 5px;
                .count-and-delete-all {
                    display: flex;
                    justify-content: space-between;
                    .count {
                        display: flex;
                        h5 {
                            margin: auto;
                            margin-right: 0.4vw;
                        }
                        p {
                            margin: auto;
                            font-size: 14px;
                        }
                    }
                    .deleteAll {
                        font-size: 13px;
                        margin-bottom: 15px;
                        margin-top: 8px;
                    }
                }
                table {
                    margin: 0;
                    tbody {
                        tr {
                            .img {
                                width: 80px;
                                padding: 10px;
                                img {
                                    width: 100%;
                                }
                            }
                            .name-delete {
                                width: 200px;
                                .name {
                                    padding-bottom: 10px;
                                    height: 53px;
                                    line-height: 16px;
                                }
                                .delete {
                                    color: firebrick;
                                    cursor: pointer;
                                }
                            }
                            .price {
                                width: 90px;
                                padding-top: 40px;
                                text-align: center;
                            }
                            .quantity {
                                width: 55px;
                                padding-top: 37px;
                                input {
                                    width: 100%;
                                }
                            }
                            .empty-cart{
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    
                }
                .payment {
                    .text {
                        display: flex;
                        justify-content: space-between;
                        .total {
                            font-weight: bold;
                            color: red;
                        }
                    }
                    button {
                        float: right;
                        margin-bottom: 7px;
                    }
                }
            }
            .mini-cart:hover {
                display: block;
            }
        }
    }
}